.title {
  text-align: center;
}
.cartPageBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.fontSizeCartEmpty {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}
